.dashboard-container {
    margin: auto;
    text-align: center;
    width: 75%;
}

.dashboard-container .line-1 {
    display: flex;
    justify-content: space-between;
}

.dashboard-container .line-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}