/* SearchBox */

.input-container {
    width: 25%;
    display: flex;
    border-radius: 50px;
    margin: auto;
    background-color: black;
  }
  
  .search-input {
    border-radius: 50px;
    background-color: black;
    padding: 1em;
    width: 100%;
    border: none;
    color: white;
  }
  
  .search-input:focus {
    outline: none !important;
  }
  
  .search-btn {
    color: white;
    padding: 12px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    margin-top: 3px;
    margin-right: 3px;
  }
  